In [16]:
import numpy as np
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN

1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).

In [17]:
df.describe()

,survived,pclass,age,sibsp,parch,fare,Unnamed: 15
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,0.0
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,NaN
std,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,NaN
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,NaN
25%,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,NaN
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,NaN
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,NaN
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,NaN

2. Write a Pandas program to extract the column labels, shape and data types of the dataset (titanic.csv).

In [18]:
column_labels = df.columns.tolist()

# Get shape of the dataset
data_shape = df.shape

# Extract data types of columns
data_types = df.dtypes

# Print the extracted information
print("Column Labels:", column_labels)
print("Data Shape:", data_shape)
print("Data Types:")
print(data_types)

Column Labels: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone', 'Unnamed: 15']
Data Shape: (891, 16)
Data Types:
survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

3. Write a Pandas program to create a Pivot table with multiple indexes from the data set of titanic.csv.

In [19]:
pivotTable = df.pivot_table( index = ['sex', 'sibsp'], columns='class', values= ['age', 'survived'] )
print(pivotTable)

                    age                        survived
class             First     Second      Third     First    Second     Third
sex    sibsp
female 0      34.000000  30.440476  22.866071  0.979592  0.931818  0.592593
       1      36.441176  27.321429  27.232143  0.950000  0.892857  0.447368
       2      30.666667  17.333333   9.083333  1.000000  1.000000  0.571429
       3      23.500000  30.000000  11.000000  1.000000  1.000000  0.125000
       4            NaN        NaN   8.333333       NaN       NaN  0.333333
       5            NaN        NaN  16.000000       NaN       NaN  0.000000
       8            NaN        NaN        NaN       NaN       NaN  0.000000
male   0      42.738806  32.870597  29.012539  0.329545  0.118421  0.129630
       1      38.481290  27.407407  23.057143  0.483871  0.259259  0.222222
       2      47.000000  20.200000  28.666667  0.500000  0.200000  0.125000
       3      19.000000        NaN   5.333333  0.000000       NaN  0.000000
       4            NaN        NaN   6.416667       NaN       NaN  0.083333
       5            NaN        NaN   8.750000       NaN       NaN  0.000000
       8            NaN        NaN        NaN       NaN       NaN  0.000000

4. Write a Pandas program to create a Pivot table and find survival rate by gender on various classes.

In [20]:
pivotTable2 = df.pivot_table( index = 'sex', columns='class', values= 'survived' )
print(pivotTable2)

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

5. Write a Pandas program to create a Pivot table and find survival rate by gender.

In [22]:
pivotTable3 = df.pivot_table( index = 'sex', columns='survived', aggfunc= 'mean' )
print(pivotTable3)

TypeError: Could not convert SSSSSSSSSCSCSSCSSCSSSSSCSSSQSSSSSCSSSSSSSSSSSSQQSSSSSSCQSSSSSQQSQCSSQSSSSSSCSSSQS to numeric

**6**. Write a Pandas program to create a Pivot table and find survival rate by gender, age wise of various classes.

In [23]:
pivotTable4 = df.pivot_table(index=['sex', 'age'], columns='class', values='survived', aggfunc='mean')
print(pivotTable4)

class         First  Second  Third
sex    age
female 0.75     NaN     NaN   1.00
       1.00     NaN     NaN   1.00
       2.00     0.0     1.0   0.25
       3.00     NaN     1.0   0.00
       4.00     NaN     1.0   1.00
...             ...     ...    ...
male   70.00    0.0     0.0    NaN
       70.50    NaN     NaN   0.00
       71.00    0.0     NaN    NaN
       74.00    NaN     NaN   0.00
       80.00    1.0     NaN    NaN

[145 rows x 3 columns]

7. Write a Pandas program to partition each of the passengers into four categories based on their age.
Note: Age categories (0, 10), (10, 30), (30, 60), (60, 80)

In [24]:
bins = [0, 10, 30, 60, 80]
labels = ['0-10', '11-30', '31-60', '61-80']
df['AgeCategory'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)
df[['survived', 'class', 'AgeCategory']].head(10)

   survived   class AgeCategory
0         0   Third       11-30
1         1   First       31-60
2         1   Third       11-30
3         1   First       31-60
4         0   Third       31-60
5         0   Third         NaN
6         0   First       31-60
7         0   Third        0-10
8         1   Third       11-30
9         1  Second       11-30

8. Write a Pandas program to create a Pivot table and count survival by gender, categories wise age of various classes.
Note: Age categories (0, 10), (10, 30), (30, 60), (60, 80)

In [25]:
pivottable5 = df.pivot_table(index=['sex', 'AgeCategory'], columns='class', values='survived', aggfunc='sum', fill_value=0)

9. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes.

In [27]:
pivotTable6 = df.pivot_table(index=['sex', 'AgeCategory'], columns='class', values='survived', aggfunc='mean')

print("Survival Rate by Gender, Age, and Different Categories of Various Classes:")
print(pivotTable6)

Survival Rate by Gender, Age, and Different Categories of Various Classes:
class                  First    Second     Third
sex    AgeCategory
female 0-10         0.000000  1.000000  0.523810
       11-30        0.965517  0.909091  0.509091
       31-60        0.980769  0.909091  0.280000
       61-80        1.000000       NaN  1.000000
male   0-10         1.000000  1.000000  0.380952
       11-30        0.478261  0.026316  0.138889
       31-60        0.403226  0.083333  0.119048
       61-80        0.076923  0.250000  0.000000

10. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes. Add the fare as a dimension of columns and partition fare column into 2 categories based on the values present in fare columns

In [28]:
fare_bins = pd.qcut(df['fare'], q=2, labels=['Low Fare', 'High Fare'])
pivotTable7 = df.pivot_table(index=['sex', 'AgeCategory'], columns=['class', fare_bins], values='survived', aggfunc='mean')
print(pivotTable7)

class                 First              Second               Third
fare               Low Fare High Fare  Low Fare High Fare  Low Fare High Fare
sex    AgeCategory
female 0-10             NaN  0.000000       NaN  1.000000  0.800000  0.437500
       11-30            NaN  0.965517  0.923077  0.900000  0.571429  0.307692
       31-60            NaN  0.980769  0.866667  0.944444  0.222222  0.312500
       61-80            NaN  1.000000       NaN       NaN  1.000000       NaN
male   0-10             NaN  1.000000       NaN  1.000000  1.000000  0.277778
       11-30            NaN  0.478261  0.040000  0.000000  0.140496  0.130435
       31-60            0.0  0.431034  0.111111  0.047619  0.112676  0.153846
       61-80            NaN  0.076923  0.333333  0.000000  0.000000       NaN